#Step 1
Importing libraries

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=1f1c77fd738b51e157dd441dc5878c519d18711ea2148fa78885feb2bed41f4f
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
from pyspark.sql import SparkSession
from google.colab import drive
from operator import add
drive.mount('/content/drive')
import requests
import io
import pandas as pd
import pyspark.sql.functions as F

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
spark = SparkSession \
    .builder \
    .appName("Engenharia de dados - Tecnologia de Big Data - Aula 2.2") \
    .getOrCreate()

spark.version

'3.5.3'

#Step 2
Extract data file

In [ ]:
filename = '/content/drive/MyDrive/Colab Notebooks/numbers.txt'

linesRdd = spark.read.text(filename).rdd.map(lambda r: r[0])
print("Number of partitions: {}".format(linesRdd.getNumPartitions()))

Number of partitions: 9

In [ ]:
countsRdd = linesRdd.sample(False, 0.01) \
                    .flatMap(lambda line: line.split(' ')) \
                    .filter(lambda number: int (number) % 2 == 0) \
                    .map(lambda number: (number, 1)) \
                    .reduceByKey(add)
print('finalizado')

finalizado

In [ ]:
output = countsRdd.collect()
for (number, count) in output:
    print(number, count)

2 500165
10 500634
8 500646
6 500755
0 500428
4 498513

In [ ]:
linesRdd.count()

50000000